.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button img {
  width: 50px;
  height: 50px;
}

.button.active {
  background-color: #0C0FAC;
  border: 6px solid #FFEB93;
}
