/* 전체 사이즈  */
body{
  width: 100vW;
  height: 100vh;
}

.custompage-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.button img {
  width: 50px;
  height: 50px;
}

.button.active {
  background-color: #0C0FAC;
  border: 4px solid #FFEB93;
}