
.searchBar{
    width: 273px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
  font-size: 16px;
  position: relative;
}

.searchButton{
  width: 48px;
  height: 48px;
  border: none;
  background: none;
  background-image: url("../images/Search.png");
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.hamburgerMenu{
  width: 53px;
  height: 71px;
  border: none;
  background: none;
  background-image: url("../images/hamburger.png");
  background-position: center;
  background-repeat: no-repeat;
  background-color: gray;
  background-size: cover;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


