.container{
  position: 'absolute';
  top: 0; 
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchContainer{
  margin: 20px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.searchBar{
    width: 85%; 
    /* height: 80%; */
    border-radius: 10px 0px 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
  font-size: 16px;
}

.searchButton{
  width: 30%;
  height: 50%;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: none;
  cursor: pointer;
}

.hamburgerMenu{
  width: 20%;
  height: 50%;
  margin: 15px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: none;
  cursor: pointer;
}

.img{
  width: 65px;
  height: 50px;
}


