/*햄버거 메뉴 전체바디*/
.body{
  box-sizing:border-box ;
  z-index: auto;
  width: 266px;
  height: 844px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
/*OO님 환영합니다, 알람벨 컨테이너 부분*/
.header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

/*알람벨 버튼*/
.alertBtn{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: none;
  background-image: url("../images/notifications.png");
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/*내 정보 컨테이너*/
.myInfo{
  width: 246px;
  height: 203px;
  padding: 10px;
  border-radius: 10px;
  border-color: none;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:flex-start;
}

/*마이로그 즐겨찾기 컨테이너*/
.myBookMark{
  width: 246px;
  height: 167px;
  border-radius: 10px;
  border-color: none;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

/*버튼 컨테이너(즐겨찾기+즐겨찾기 버튼)*/
.btnContainer{
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*마이로그 버튼*/
.myLogBtn{
  width: 43px;
  height: 43px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: none;
  background-image: url("../images/bookmark.png");
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/*즐겨찾기 버튼*/
.starBtn{
  width: 43px;
  height: 43px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: none;
  background-image: url("../images/star.png");
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/*설정부분 컨테이너*/
.setting{
  display: flex;
  flex-direction: row-reverse;
  justify-content:flex-start;
}

/*설정버튼*/
.settingBtn{
  width: 33px;
  height: 35px;
  border-radius: 10px;
  border-color: none;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  background-image: url("../images/setting.png");
}

/*고객선테,로그아웃 컨테이너*/
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*고객센터 버튼*/
.callCenter{
  width: 97px;
  height: 34px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*로그아웃 버튼*/
.logOut{
  width: 97px;
  height: 34px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}