/*햄버거 메뉴 전체바디*/
.menuToggle {
  border-radius: 20px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  position: fixed;
  margin-top: 745px;
  margin-left: 85px;
  width: 60%;
  height: 70%;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.img {
  width: 0%;
  height: 100%;
}
.menuToggle.open {
  right: 0;
  transition: 0.5s ease;
}


/*OO님 환영합니다, 알람벨 컨테이너 부분*/
.header{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

/*알람벨 버튼*/
.alertBtn{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

/*내 정보 컨테이너*/
.myInfo{
  width: 246px;
  height: 203px;
  padding-left: 12px;
  border-radius: 10px;
  border-color: none;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:flex-start;
}

/*마이로그 즐겨찾기 컨테이너*/
.myBookMark{
  width: 246px;
  height: 167px;
  border-radius: 10px;
  border-color: none;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  justify-content:flex-start;
}

/*버튼 컨테이너(즐겨찾기+즐겨찾기 버튼)*/
.btnContainer{
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/*마이로그, 즐겨찾기 버튼*/
.buttonStyle{
  width: 43px;
  height: 43px;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  background: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/*설정부분 컨테이너*/
.setting{
  display: flex;
  flex-direction: row-reverse;
  justify-content:flex-start;
}

/*설정버튼*/
.settingButton{
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  top: 10px;
  right: 10px;
}

/*고객선테,로그아웃 컨테이너*/
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/*고객센터, 로그아웃 버튼*/
.footerButton{
  width: 97px;
  height: 34px;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imgSize{
  width: 30px;
  height: 30px;
}